.avatar-link {
    display: -ms-flexbox;
    display: flex;
    &:hover {
        text-decoration: none;
    }
}
.avatar {
    background-color: $black;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: $white;
    font-weight: 500;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 13px;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    vertical-align: middle;
    -ms-flex: 0 0 40px;
    flex: 0 0 40px;
    max-width: 40px;
    i {
        font-size: 14px;
        position: relative;
        top: -1px;
    }
    &[href]:focus,
    &[href]:hover {
        background: $primary;
        color: $white;
        text-decoration: none;
    }
    &.avatar-border-color-3 {
        border: 3px solid $app-color-3;
    }
    &.avatar-border-color-10 {
        border: 4px solid $app-color-10;
    }
}
.avatar-name {
    line-height: 1.1em;
    color: $gray-900;
    small {
        font-size: 12px;
        color: $gray-600;
    }
}
