.modal {
  .modal-dialog {
    margin-top: 0;
    max-width: 600px;

    .modal-alert {
      background: $white;
      min-height: 88px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      .modal-alert-icon {
        i {
          font-size: 32px;
          padding: 24px;
          color: $white;
          display: block;
          height: 100%;
          &.icon-check {
            background-color: rgba($app-color-8,.4);
          }
          &.icon-danger {
            background-color: rgba($app-color-9,.4);
          }
          &.icon-info {
            background-color: rgba($app-color-3,.4);
          }
          &.icon-warning {
            background-color: rgba($app-color-2,.4);
          }
        }
      }
      .modal-alert-body {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 24px;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
        p {
          margin-bottom: 0;
        }
        .close {
          position: absolute;
          right: 12px;
          top: 12px;
          font-size: 12px;
        }
      }
    }
  }
  .modal-content {
    border-radius: 0;
    background-color: $gray-100;
    box-shadow: 0 0 16px 8px rgba( $gray-900, .2);
    .modal-header {
      @include media-breakpoint-only(sm) {
        padding: 16px 32px;
      }
      @include media-breakpoint-only(md) {
        padding: 18px 48px;
      }
      @include media-breakpoint-up(lg) {
        padding: 18px 80px;
      }
    }
    .modal-body {
      @include media-breakpoint-only(sm) {
        padding: 32px 32px;
      }
      @include media-breakpoint-only(md) {
        padding: 40px 48px;
      }
      @include media-breakpoint-up(lg) {
        padding: 56px 80px;
      }
    }
    .modal-footer  {
        @include media-breakpoint-only(sm) {
          padding: 0 32px 16px;
        }
        @include media-breakpoint-only(md) {
          padding: 0 48px 32px;
        }
        @include media-breakpoint-up(lg) {
          padding: 0 80px 56px;
        }
    }
    .modal-header {
      position: relative;
      background: $app-color-1;
      border-radius: 0;
      color: $white;
      min-height: 88px;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      .modal-title {
        color: $white;
        font-size: 18px;
      }
      .close {
        opacity: 1;
        text-shadow: none;
        position: absolute;
        top: 50%;
        margin-top: -24px;
        right: 24px;
        color: $white;
        span {
           font-size: 20px;
         }
      }
    }
    .modal-body {

    }
    .modal-footer {
      border-top: 0;
      display: block;
    }
  }

}

.modal-backdrop {
  background-color: rgba($gray-900, .7);
}
