.status {
  color: $white;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 2px 16px;
  font-size: 14px;
  height: 24px;
  &.status-new {
    background-color: $app-color-2;
  }
  &.status-confirmed {
    background-color: $app-color-3;
  }
  &.status-paid {
    background-color: $app-color-6;
  }
  &.status-canceled {
    background-color: $gray-400;
  }
}
